<div class="vertical-divider bg-white text-center" style="padding-top: 3px">
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="fetch new documents"
  >
    <span class="badge bg-warning">123</span>
    <img src="assets/img/buttons/fetchDocuments.svg" width="25" />
  </a>
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="send documents back to the inbox"
  >
    <img src="assets/img/buttons/returnDocuments.svg" width="25" />
  </a>
  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="fetch returned documents"
  >
    <span class="badge bg-warning">3</span>
    <img src="assets/img/buttons/fetchErrorDocuments.svg" width="25" />
  </a>
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="send documents back to the return mail inbox"
  >
    <img src="assets/img/buttons/returnErrorDocuments.svg" width="25" />
  </a>
  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="jump to next document with incomplete recipient data"
  >
    <img src="assets/img/buttons/next.svg" width="25" />
  </a>
  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="send all recognized documents"
  >
    <img src="assets/img/buttons/sendAll.svg" width="25" />
  </a>
  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Incoming Post Book"
  >
    <img src="assets/img/buttons/postbook.svg" width="25" />
  </a>

  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Help"
    (click)="showSearchDialog()"
  >
    <img src="assets/img/buttons/zoomIn.svg" width="25" />
  </a>
  <hr class="vertical-hr" />
  <a
    class="btn btn-app click-post-action-button"
    data-toggle="tooltip"
    data-placement="bottom"
    title="Help"
  >
    <img src="assets/img/buttons/help.svg" width="25" />
  </a>
</div>
