<action-button-container
  (searchDialogRequested)="showSearchDialog()"
></action-button-container>

<div class="card document-card" id="viewPort">
  <ocs-documents [documentData]="documentData"></ocs-documents>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-body">
    <form>
      <div class="row">
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
        <div class="col-sm-3">
          <!-- text input -->
          <div class="form-group">
            <label>Text</label>
            <input type="text" class="form-control" placeholder="Enter ..." />
          </div>
        </div>
      </div>
    </form>
    <div class="text-end">
      <button
        type="button"
        (click)="offcanvas.close('Save click')"
        class="btn btn-success"
      >
        <i class="fa fa-save"></i><span> Search</span>
      </button>
    </div>
  </div>
</ng-template>
