<div class="btn-group-vertical zoom-bottom">
  <!-- <button
    data-placement="bottom"
    type="button"
    data-card-widget="maximize"
    data-animation-speed="1000"
    class="btn btn-default btn-flat"
  >
    <i class="fas fa-expand"></i>
  </button> -->

  <button type="button" class="btn btn-default btn-xs p-2" (click)="zoom(-100)">
    <img src="assets/img/buttons/zoomIn.svg" width="20px" /></button
  ><button type="button" class="btn btn-default btn-xs p-2" (click)="zoom(100)">
    <img src="assets/img/buttons/zoomOut.svg" width="20px" />
  </button>
  <button
    type="button"
    class="btn btn-default btn-xs p-2"
    (click)="fitPageHeight()"
  >
    <img src="assets/img/buttons/zoomPageHeight.svg" width="20px" />
  </button>
  <button type="button" class="btn btn-default btn-xs p-2">
    <img src="assets/img/buttons/zoomPageWidth.svg" width="20px" />
  </button>
</div>

<div id="convas-wrapper" style="float: left; position: absolute">
  <canvas [id]="'canvas'"></canvas>
</div>
