<ng-container *ngIf="_globalModelService.dataFetched">
  <ocs-header></ocs-header>
  <ocs-sidebar></ocs-sidebar>
  <div class="content-wrapper" style="padding: 0 10px">
    <ocs-breadcrumb></ocs-breadcrumb>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</ng-container>
<ngx-spinner
  bdOpacity="0.9"
  bdColor="#000"
  size="medium"
  color="#fff"
  type="ball-spin-fade"
  [fullScreen]="true"
  template="<img src='assets/img/ocslogo.svg' width=500 />"
>
</ngx-spinner>
