<div class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title">
      <i class="far fa fa-user nav-icon mr-2 text-info"></i
      ><strong>{{ l("USERS") }}</strong>
    </h3>
    <div class="card-tools">
      <ul class="nav nav-pills ml-auto">
        <li class="nav-item mr-3">
          <a
            class="btn btn-block btn-default btn-xs"
            (click)="openAddUserModal()"
          >
            <i class="fa fa-user-plus nav-icon mr-2"></i
            ><span class="p-2">{{ l("ADD_NEW_USER") }}</span>
          </a>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="maximize"
          >
            <i class="fas fa-expand"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="card-body p-0 overlay-wrapper table-responsive"
    style="min-height: 500px"
  >
    <div class="overlay" *ngIf="gettingUserList">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
      <div class="text-bold pt-2"></div>
    </div>
    <table class="table table-bordered table-hover" *ngIf="userList">
      <thead>
        <th>#</th>
        <th>{{ l("USER_NAME") }}</th>
        <th>{{ l("DISPLAY_NAME") }}</th>
        <th>{{ l("PARENT_USER") }}</th>
        <th>{{ l("DEFAULT_LANGUAGE") }}</th>
        <th>{{ l("ACTIVE") }}</th>
        <th>{{ l("LAST_LOGIN") }}</th>
        <th>{{ l("ROLES") }}</th>
        <th>{{ l("ACTIONS") }}</th>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of userList
              | paginate
                : {
                    itemsPerPage: config.itemsPerPage,
                    currentPage: config.currentPage!,
                    totalItems: config.totalItems,
                    id: 'userPagination'
                  };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.displayName }}</td>
          <td>{{ user.parentUser?.displayName }}</td>
          <td>{{ user.userSetting?.defaultLanguage }}</td>
          <td>{{ user.isActive }}</td>
          <td>
            {{ user.lastLoggedIn | date: "EEEE, MMMM d, y, h:mm:ss a zzzz" }}
          </td>
          <td>
            <span *ngFor="let role of user.roles"
              >{{ role.role!.name }} |
            </span>
          </td>
          <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-info btn-xs btn-block btn-flat dropdown-toggle"
                data-toggle="dropdown"
              >
                <span class="sr-only">Toggle Dropdown</span>
                <i class="fa fa-cog"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <a
                  class="dropdown-item"
                  (click)="
                    openChangePasswordModal(
                      user.id!,
                      user.displayName!,
                      user.version!
                    )
                  "
                  ><i class="fas fa-lock mr-2"></i>{{ l("CHANGE_PASSWORD") }}</a
                >
                <a class="dropdown-item" (click)="openEditUserModal(user, i)"
                  ><i class="fas fa-edit mr-2"></i>{{ l("EDIT") }}</a
                >
                <a class="dropdown-item" (click)="deleteUser(user.id!, i)"
                  ><i class="fas fa-user-slash mr-2"></i
                  >{{ l("DELETE_USER") }}</a
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer clearfix">
    <div class="row">
      <div class="col-lg-3">
        {{ l("NUMBER_OF_USERS") }} {{ config.totalItems }}
      </div>
      <div class="col-lg-9 text-right">
        <pagination-controls
          id="userPagination"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          [maxSize]="9"
          [directionLinks]="true"
          [autoHide]="true"
          [responsive]="true"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
<ocs-change-user-password #changeUserPasswordModal></ocs-change-user-password>
<ocs-add-user #addUserModal (userAdded)="getAllUser()"></ocs-add-user>
<ocs-edit-user #editUserModal (userEdited)="getAllUser()"></ocs-edit-user>
