<form [formGroup]="documentForm">
  <div class="form-group document-control">
    <label for="company" class="lable-from-control-document">Company</label>
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="company"
      placeholder="Company name"
      formControlName="company"
    />
  </div>
  <div class="form-group document-control">
    <label for="department" class="lable-from-control-document"
      >Department</label
    >
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="department"
      placeholder="Department name"
      formControlName="department"
    />
  </div>
  <div class="form-group document-control">
    <label for="surname" class="lable-from-control-document">Surename</label>
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="surname"
      placeholder="surname"
      formControlName="surname"
    />
  </div>
  <div class="form-group document-control">
    <label for="givenNames" class="lable-from-control-document"
      >Given names</label
    >
    <input
      type="text"
      class="form-control form-control-sm deletable"
      id="givenNames"
      placeholder="Given names"
      formControlName="givenNames"
    />
  </div>
  <div class="form-group document-control">
    <label for="eMail" class="lable-from-control-document">E-Mail</label>
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="eMail"
      placeholder="eMail"
      formControlName="eMail"
    />
  </div>
  <div class="form-group document-control">
    <label for="sender" class="lable-from-control-document">Sender</label>
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="sender"
      placeholder="sender"
      formControlName="sender"
    />
  </div>
  <div class="form-group document-control">
    <label for="date" class="lable-from-control-document">Date</label>
    <input
      type="text"
      class="form-control form-control-sm clearable"
      id="date"
      data-provide="datepicker"
      formControlName="date"
    />
  </div>
  <div class="form-group document-control">
    <label class="lable-from-control-document">Note</label>
    <textarea
      class="form-control"
      formControlName="note"
      rows="3"
      placeholder=""
      id="note"
    ></textarea>
  </div>
  <div class="form-group document-control">
    <label class="lable-from-control-document">Quick dial buttons</label>
    <div class="select2-primary">
      <select
        [id]="documentData.id + 'select2'"
        class="select2"
        multiple="multiple"
        data-placeholder="Select a State"
        data-dropdown-css-class="select2-primary"
        style="width: 100%"
        formControlName="other"
      >
        <option>Alabama</option>
        <option>Alaska</option>
        <option>California</option>
        <option>Delaware</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Washington</option>
      </select>
    </div>
  </div>
</form>
