<aside class="main-sidebar sidebar-dark-lightblue elevation-4">
  <a href="" class="brand-link">
    <img
      src="assets/img/clickpostlogo.svg"
      alt="AdminLTE Logo"
      class="brand-image"
      style="padding-left: 8px"
    />
    <span class="brand-text font-weight-light text-muted">.</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" [routerLink]="['dashboard']" class="d-block">{{
          _globalMpodelService.logedInUser.displayName
        }}</a>
      </div>
    </div>
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column nav-flat"
        data-widget="treeview"
        role="menu"
        data-accordion="true"
      >
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['dashboard']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              {{ l("ACCOUNTS") }}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/main/users']">
                <i class="far fa fa-user nav-icon"></i>
                <p>{{ l("USERS") }}</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Icons</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
