<aside class="main-sidebar sidebar-dark-lightblue elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img
      src="assets/img/clickpostlogo.svg"
      alt="AdminLTE Logo"
      class="brand-image"
      style="padding-left: 8px"
    />
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" [routerLink]="['dashboard']" class="d-block">{{
          _globalMpodelService.logedInUser.displayName
        }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column nav-flat"
        data-widget="treeview"
        role="menu"
        data-accordion="true"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['dashboard']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['/queue/monitor']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Queue Montior</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['/queue/monitor1']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Queue Montior 1</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['/click-post']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-mail-bulk"></i>
            <p>Click Post</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['/drag']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-mail-bulk"></i>
            <p>Click Post 1</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            [routerLink]="['/document-type/types']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa-file-alt"></i>
            <p>Document Types</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ active: isActiveRoute('/settings') }"
          >
            <i class="nav-icon fas fa-cogs"></i>

            <p>
              {{ l("SETTINGS") }}
              <i class="right fas fa-angle-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                <i class="fab fa-wpbeginner nav-icon"></i>
                <p>All settings</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['../settings/clickPost-directories']"
                [routerLinkActive]="'active'"
              >
                <i class="fas fa-weight-hanging nav-icon"></i>
                <p>ClickPost Directories</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['../settings/click-post-webapp-setttings']"
                [routerLinkActive]="'active'"
              >
                <i class="fab fa-wpbeginner nav-icon"></i>
                <p>ClickPost Web App Settings</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['../settings/document-seperation']"
                [routerLinkActive]="'active'"
              >
                <i class="fab fa-windows nav-icon"></i>
                <p>Document Seperation</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/uplot.html" class="nav-link">
                <i class="fas fa-cloud-download-alt nav-icon"></i>
                <p>Email Download</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/uplot.html" class="nav-link">
                <i class="fab fab fa-android nav-icon"></i>
                <p>Notifications in batch mode</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/uplot.html" class="nav-link">
                <i class="fab fa-servicestack nav-icon"></i>
                <p>Extract information from file andsss path</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            href="#"
            [routerLink]="['/main/account']"
            class="nav-link"
            [routerLinkActive]="'active'"
          >
            <i class="nav-icon fas fa fa-users-cog"></i>
            <p>{{ l("ACCOUNTS") }}</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
