<ng-template #changePasswordModal>
  <div class="modal-header modal-xl">
    <h4 class="modal-title pull-left">
      <i class="fas fa-lock mr-2"></i>{{ l("CHANGE_PASSWORD") }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="card-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="currentPassword" class="control-label-required">{{
          l("CURRENT_PASSWORD")
        }}</label>
        {{ changePasswordForm.get("currentPasswprd") }}
        <input
          type="password"
          class="form-control"
          formControlName="currentPassword"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': showRequiredPassword('currentPassword') }"
        />
        <span
          [@fadeInOut]
          class="validation-error-message"
          *ngIf="showRequiredPassword('currentPassword')"
          >* You must enter your current password</span
        >
      </div>
      <div class="form-group">
        <label for="newPassword" class="control-label-required">{{
          l("NEW_PASSWORD")
        }}</label>
        <input
          type="password"
          class="form-control"
          formControlName="newPassword"
          autocomplete="off"
          [ngClass]="{ 'is-invalid': showRequiredPassword('newPassword') }"
        />
        <span
          [@fadeInOut]
          class="validation-error-message"
          *ngIf="showRequiredPassword('newPassword')"
          >* You must enter your current password</span
        >
      </div>
      <div class="form-group">
        <label for="confirmNewPassword" class="control-label-required">{{
          l("CONFIRM_NEW_PASSWORD")
        }}</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmNewPassword"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': showRequiredPassword('confirmNewPassword')
          }"
        />
        <span
          [@fadeInOut]
          class="validation-error-message"
          *ngIf="showRequiredPassword('confirmNewPassword')"
          >* You must enter your current password</span
        >
      </div>
    </form>
  </div>
  <div class="modal-footer clearfix">
    <button
      type="button"
      class="btn btn-default float-right"
      (click)="modalRef.hide()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="changePassword()"
      [buttonBusy]="gettingData"
      [busyText]="'Please wait...'"
    >
      <i class="fa fa-save"></i><span class=""> Save</span>
    </button>
  </div>
</ng-template>
