<div class="btn-group" style="left: 0px; max-width: 300px; width: 100%">
  <button
    type="button"
    class="btn btn-default btn-flat"
    data-toggle="tooltip"
    data-placement="bottom"
    title="calculate and assign field values"
  >
    <img
      src="assets/img/buttons/performFieldAssignments.svg"
      width="25"
    /></button
  ><button
    data-toggle="tooltip"
    data-placement="bottom"
    title="delete"
    type="button"
    class="btn btn-default btn-flat"
  >
    <img src="assets/img/buttons/delete.svg" width="25" /></button
  ><button
    data-toggle="tooltip"
    data-placement="bottom"
    title="send document"
    type="button"
    class="btn btn-default btn-flat"
  >
    <img src="assets/img/buttons/send.svg" width="25" />
  </button>
</div>
<ul class="tree" id="documentTree">
  <li>
    <a href="javascript:void(0)">{{ treeData.id }}</a>

    <ul
      cdkDropList
      #documentList="cdkDropList"
      [cdkDropListData]="treeData.images"
      (cdkDropListDropped)="doDrop($event)"
      [cdkDropListConnectedTo]="connectedTo"
      id="{{ treeData.id }}"
    >
      <li
        *ngFor="let image of treeData.images; let order = index"
        cdkDrag
        [id]="'node' + image.id"
      >
        <img
          src="assets/img/documents/thumbnails/{{ image.id }}.jpg"
          class="thumbnails"
          (click)="changeCurrentDocument(image)"
        />
        <div
          class="btn-group-vertical document-action-button"
          [id]="'thumbnail' + image.id"
          *ngIf="image.id == currentDocumentId"
        >
          <a
            type="button"
            class="btn btn-default btn-xs p-2"
            (click)="moveUp(order)"
          >
            <img src="assets/img/buttons/movePageUp.svg" width="20px" />
          </a>

          <a
            type="button"
            class="btn btn-default btn-xs p-2"
            (click)="splitDocument(image)"
          >
            <img src="assets/img/buttons/split.svg" width="20px" />
          </a>
          <a
            type="button"
            class="btn btn-default btn-xs p-2"
            (click)="moveDown(order)"
          >
            <img src="assets/img/buttons/movePageDown.svg" width="20px" />
          </a>
        </div>
      </li>
    </ul>
  </li>
</ul>
