<ng-template #addUserModal>
  <form [formGroup]="createUserForm" (ngSubmit)="addUser()">
    <div class="modal-header modal-header-blue">
      <h6 class="modal-title pull-left">
        <i class="fas fa-user-plus mr-2"></i>{{ l("ADD_NEW_USER") }}
      </h6>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true" class="text-white">×</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="userName" class="control-label-required">{{
                  l("USER_NAME")
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="userName"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': showRequiredField('userName') }"
                />
                <span
                  [@fadeInOut]
                  class="validation-error-message"
                  *ngIf="showRequiredField('userName')"
                  >{{ l("REQURED_FIELD") }}</span
                >
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="displayName" class="control-label-required">{{
                  l("DISPLAY_NAME")
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="displayName"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': showRequiredField('displayName') }"
                />
                <span
                  [@fadeInOut]
                  class="validation-error-message"
                  *ngIf="showRequiredField('displayName')"
                  >{{ l("REQURED_FIELD") }}</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="password" class="control-label-required">{{
                  l("PASSWORD")
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="password"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': showRequiredField('password') }"
                />
                <span
                  [@fadeInOut]
                  class="validation-error-message"
                  *ngIf="showRequiredField('password')"
                  >{{ l("REQURED_FIELD") }}</span
                >
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="confirmPassword" class="control-label-required">{{
                  l("CONFIRM_PASSWORD")
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="confirmPassword"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': showRequiredField('confirmPassword')
                  }"
                />
                <span
                  [@fadeInOut]
                  class="validation-error-message"
                  *ngIf="showRequiredField('confirmPassword')"
                  >{{ l("REQURED_FIELD") }}</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <select2
                [options]="userList"
                (onSelect)="onSelect($event)"
                [label]="l('PARENT_USER')"
                formControlName="parentUserId"
              ></select2>
            </div>
            <div class="col-lg-6 check-box-in-horizental-form">
              <div class="icheck-primary d-inline">
                <input
                  type="checkbox"
                  id="Cleanup-ClickPost-journa"
                  formControlName="isActive"
                />
                <label for="Cleanup-ClickPost-journa"> {{ l("ACTIVE") }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row p-2">
            <div class="col-lg-12">
              <fieldset>
                <legend>{{ l("ROLES") }}</legend>

                <div
                  class="col-lg-12 p-2"
                  *ngFor="let role of roleList; let i = index"
                >
                  <div class="icheck-primary d-inline">
                    <input
                      type="checkbox"
                      id="Cleanup-ClickPost-journa"
                      [id]="role.id!"
                      [value]="role.id"
                      (change)="rolesChange($event)"
                    />
                    <label [for]="role.id!"> {{ role.name! }}</label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <fieldset>
            <legend>{{ l("SETTINGS") }}</legend>
            <div class="row" formGroupName="userSetting">
              <div class="col-lg-4">
                <select2
                  [options]="[
                    { id: 'en', text: 'English' },
                    { id: 'de', text: 'Germany' },
                    { id: 'fr', text: 'France' }
                  ]"
                  (onSelect)="onSelect($event)"
                  [label]="l('DEFAULT_LANGUAGE')"
                  formControlName="defaultLanguage"
                ></select2>
                <span
                  [@fadeInOut]
                  class="validation-error-message"
                  *ngIf="showRequiredField('userSetting.defaultLanguage')"
                  >{{ l("REQURED_FIELD") }}</span
                >
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <button
        type="button"
        class="btn btn-default float-right"
        (click)="modalRef.hide()"
      >
        {{ l("CLOSE") }}
      </button>
      <button
        type="submit"
        class="btn btn-success"
        [buttonBusy]="saving"
        [busyText]="'Please wait...'"
      >
        <i class="fa fa-save mr-2"></i><span class=""> {{ l("SAVE") }}</span>
      </button>
    </div>
  </form>
</ng-template>
