<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-dark navbar-gray-dark">
  <div class="container margin-0">
    <a [routerLink]="['/main/click-post']" class="navbar-brand">
      <img
        src="assets/img/clickpostlogo-svg-white.svg"
        class="brand-image"
        style="opacity: 0.8"
      />
    </a>

    <button
      class="navbar-toggler order-1"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            href="#"
            [routerLink]="['/main/queue-monitor']"
            class="nav-link"
            [routerLinkActive]="'active'"
            ><span class="nav-icon fas fa-chart-line"></span>
            {{ l("QUEUEMONITOR") }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            id="settings-menu"
            href="#"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            class="nav-link dropdown-toggle"
          >
            <i class="nav-icon fa fa-cloud-upload-alt"></i>
            {{ l("FILE_CENTER") }}</a
          >
          <ul
            aria-labelledby="settings-menu"
            class="dropdown-menu border-0 shadow"
          >
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['/main/file-center/upload']"
                [routerLinkActive]="'active'"
              >
                {{ l("FILE_UPLOAD") }}</a
              >
            </li>
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                {{ l("FILE_LIST") }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            id="settings-menu"
            href="#"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            class="nav-link dropdown-toggle"
          >
            <i class="nav-icon fas fa-cogs"></i> {{ l("SETTINGS") }}</a
          >
          <ul
            aria-labelledby="settings-menu"
            class="dropdown-menu border-0 shadow"
          >
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                All settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                ClickPost Directories</a
              >
            </li>
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                ClickPost Web App Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="dropdown-item"
                [routerLink]="['../settings/all-settings']"
                [routerLinkActive]="'active'"
              >
                Document Seperation</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="hasAccessToSidebarMenu('ACCOUNT')">
          <a
            href="#"
            class="nav-link"
            href="#"
            [routerLink]="['/main/account']"
            class="nav-link"
            [routerLinkActive]="'active'"
            ><span class="fas fa fa-users-cog"></span> {{ l("ACCOUNTS") }}</a
          >
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            {{ l("HELP") }}
          </a>
          <div class="dropdown-menu dropdown-menu dropdown-menu-left">
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> {{ l("LICENSE_INFORMATON") }}
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> {{ l("ABOUT") }}
            </a>
          </div>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">{{ l("CONTACT") }}</a>
        </li>
      </ul>
    </div>

    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i
            class="flag-icon flag-icon"
            [ngClass]="'flag-icon-' + getCurrentLanguageFlag()"
          ></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right p-0">
          <a
            class="dropdown-item"
            (click)="changeLanguage('en')"
            [ngClass]="{ active: translate.currentLang == 'en' }"
          >
            <i class="flag-icon flag-icon-us mr-2"></i> English
          </a>
          <a
            class="dropdown-item"
            (click)="changeLanguage('de')"
            [ngClass]="{ active: translate.currentLang == 'de' }"
          >
            <i class="flag-icon flag-icon-de mr-2"></i> German
          </a>
          <a href="#" class="dropdown-item">
            <i class="flag-icon flag-icon-fr mr-2"></i> French
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <i class="fas fa-list-alt mr-2"></i> {{ l("PROFILE") }}
          </a>
          <a href="#" class="dropdown-item">
            <i class="fas fa-history mr-2"></i> {{ l("HISTORY") }}
          </a>
          <a href="#" class="dropdown-item">
            <i class="fas fa-cogs mr-2"></i> {{ l("SETTINGS") }}
          </a>
          <a class="dropdown-item" (click)="showChangePasswordModal()">
            <i class="fas fa-lock mr-2"></i> {{ l("CHANGE_PASSWORD") }}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fas fa-power-off mr-2"></i>{{ l("LOGOUT") }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-widget="control-sidebar"
          data-slide="true"
          href="#"
          role="button"
        >
          <img class="brand-image" src="assets/img/ocslogo.svg" width="130px" />
        </a>
      </li>
    </ul>
  </div>
</nav>
<ocs-change-password #changePasswordModal></ocs-change-password>
