.dropdown-item {
  cursor: pointer;
}
.validation-error {
  position: absolute;
  margin-top: 2.3rem;
  font-size: 0.8em;
  color: #a94442;
}
.validation-error-message {
  position: absolute;
  font-size: 0.8em;
  color: #a94442;
}
.form-group .control-label-required:after {
  content: "*";
  color: red;
  margin-left: 0.3rem;
}
