<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 extend-table-minimize-content">
    <ng-container *ngFor="let item of documentData; let i = index">
      <ocs-document-tree
        [connectedTo]="connectedTo"
        [treeData]="item"
        (documentSplitted)="splitDocument($event)"
        (currentDocumentChanged)="currentDocumentChanged($event)"
      ></ocs-document-tree>
    </ng-container>
  </div>
  <div
    class="col-lg-2 col-md-2 col-sm-12 border-left extend-table-minimize-content border-left"
  >
    <ocs-document-form
      #textSelectedComponent
      [DocumentData]="selectedItem"
    ></ocs-document-form>
  </div>
  <div
    class="col-lg-7 col-md-7 p-0 col-sm-12 scrollbar-left border-left extend-table-minimize-content-x border-left"
    id="convasContainer"
    style="background-color: #f8f9fa"
  >
    <ocs-document-preview
      (textSelected)="textSelected($event)"
      #documentPreview
      [page]="selectedItem.images[0]"
    ></ocs-document-preview>
  </div>
</div>
