<table class="table table-hover expandable-table">
  <thead>
    <tr>
      <th>
        <div class="icheck-primary d-inline">
          <input
            type="checkbox"
            id="checkboxPrimary3"
            (change)="setSelectedDocument($event)"
          />
          <label for="checkboxPrimary3"> </label>
        </div>
      </th>
      <th>File name</th>
      <th>Company</th>
      <th>Department</th>
      <th>Surname</th>
      <th>Given Names</th>
      <th>E-Mail</th>
      <th>Sender</th>
      <th>Subject</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of documentData; let i = index">
      <!-- Second -->
      <tr
        data-widget="expandable-table"
        aria-expanded="false"
        [attr.document]="item.id"
        [attr.index]="i"
      >
        <td>
          <div class="icheck-primary d-inline">
            <input
              type="checkbox"
              id="{{ item.id }}"
              [(ngModel)]="item.checked"
            />
            <label for="{{ item.id }}"> </label>
          </div>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.company }}</td>
        <td>{{ item.department }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.givenNames }}</td>
        <td>{{ item.eMail }}</td>
        <td>{{ item.sender }}</td>
        <td>{{ item.subject }}</td>
        <td><span class="right badge badge-danger">Bad</span></td>
      </tr>
      <tr class="expandable-body" id="expandable-table-header-row">
        <td colspan="10">
          <div class="row p-0">
            <div class="col-lg-12">
              <div
                class="card card-border-0 extend-card card-primary"
                [attr.card-id]="item.id"
              >
                <div class="card-header" *ngIf="extendedCard == item.id">
                  <h3 class="card-title">
                    <b>{{ item.id }}</b>
                  </h3>
                  <div class="card-tools">
                    <img
                      src="assets/img/clickpostlogo_login-white.png"
                      alt="AdminLTE Logo"
                      class="brand-image ng-tns-c89-3"
                      width="200px"
                    />

                    <button
                      type="button"
                      data-card-widget="maximize"
                      class="btn btn-tool"
                      data-animation-speed="0"
                    >
                      <i class="fas fa-expand"></i>
                    </button>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-md-2 extend-table-minimize-content">
                    <ocs-document-tree
                      [connectedTo]="connectedTo"
                      [treeData]="item"
                      (currentDocumentChanged)="
                        currentDocumentChanged($event, item.id)
                      "
                      (documentSplitted)="splitDocument($event)"
                    ></ocs-document-tree>
                  </div>
                  <div
                    class="col-md-2 border-left extend-table-minimize-content"
                  >
                    <ocs-document-form
                      [DocumentData]="item"
                      #textSelectedComponent
                    ></ocs-document-form>
                  </div>
                  <div
                    class="col-md-8 border-left extend-table-minimize-content"
                    id="convasContainer"
                  >
                    <ocs-document-preview
                      (textSelected)="textSelected($event)"
                      [documentId]="item.id"
                      [page]="item.images[0]"
                      #documentPreview
                    ></ocs-document-preview>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
