<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><img src="assets/img/clickpostlogo_login.svg" width="250px"/></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">{{l('LOGIN_PAGE_TITLE')}}</p>

        <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
          <div class="input-group mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="User name"
              formControlName="userName"
              [ngClass]="{ 'is-invalid': showRequiredPassword('userName') }"
              autocomplete="off"
            />

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span
              [@fadeInOut]
              class="validation-error"
              *ngIf="showRequiredPassword('userName')"
              >* You must enter your username</span
            >
          </div>
          <div class="input-group mb-4">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': showRequiredPassword('password') }"
              autocomplete="off"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span
              [@fadeInOut]
              class="validation-error"
              *ngIf="showRequiredPassword('password')"
              >* You must enter your password</span
            >
          </div>
          <div class="social-auth-links text-center mt-2 mb-3">
            <button
              class="btn btn-block btn-primary"
              [buttonBusy]="gettingData"
              [busyText]="'Please wait...'"
              type="submit"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<ngx-spinner
  bdOpacity="0.9"
  bdColor="#000"
  size="medium"
  color="#fff"
  type="ball-spin-fade"
  [fullScreen]="true"
  template="
  <img src='assets/img/ocslogo.svg' width=500 />
"
>
<h6 style="color: #fff">Loading...</h6>

</ngx-spinner>